<!DOCTYPE html>
<html lang="et">

	<head>
		<meta charset="utf-8">
		<title>Avaleht</title>
	</head>

	<body style="background-color: rgb(53, 53, 53); color: rgb(224, 255, 254);">

		<style>
			
		</style>

		<img src="/banner/vp_banner_2024.png" alt="banner">

		<hr>
		<h1 style="font-family:courier;">
			Avaleht
		</h1>
		<hr>

        <ul>
            <li><a href="/timenow" style="color: aliceblue;">Ajainfo</a></li>
            <li><a href="/justlist" style="color: aliceblue;">Vanasonad</a></li>
            <li><a href="/regvisit" style="color: aliceblue;">Registreeri end (txt)</a></li>
			<li><a href="/regvisitdb" style="color: aliceblue;">Registreeri end (db)</a></li>
			<li><a href="/visitors" style="color: aliceblue;">Visitors</a></li>
			<li><a href="/eestifilm" style="color: aliceblue;">Eesti film</a></li>
        </ul>

	</body>
</html>