<!DOCTYPE html>
<html lang="et">

	<head>
		<meta charset="utf-8">
		<title>Registreeri andmebaasi</title>
	</head>

	<body>
		<img src="/banner/vp_banner_2024.png" alt="banner">

		<hr>
		<h1>
			Registreerimine andmebaasi
		</h1>
		<hr>

        <ul>
            <li><a href="/">Avaleht</a></li>
        </ul>
        <hr>
        
        <h2>Lisa oma nimi andmebaasi</h2>
        
        <form method="POST">
            <label for="firstNameInput">Eesnimi: </label>
            <input type="text" id="firstNameInput" name="firstNameInput" placeholder="Eesnimi..." value="<%= firstName %>">
            <br>
            <label for="lastNameInput">Perekonnanimi: </label>
            <input type="text" id="lastNameInput" name="lastNameInput" placeholder="Perekonnanimi...">
            
            <input type="submit" name="reqSubmit" id="regSubmit" value="Salvesta">
        </form>
        <p><%= notice %></p>

	</body>
</html>