<!DOCTYPE html>
<html lang="et">

	<head>
		<meta charset="utf-8">
		<title>Filmitegelased</title>
	</head>

	<body>
		<img src="/banner/vp_banner_2024.png" alt="banner">

		<hr>
		<h1>
			Eesti filmitegelased
		</h1>
		<hr>

        <ul>
            <li><a href="/">Avaleht</a></li>
            <li><a href="/eestifilm">Eesti filmi avaleht</a></li>
        </ul>
		<hr>

		<h2>Eesti filmitegelased</h2>
		<ul>
			<% persons.forEach(function(item){ %>
				<li><%=item.first_name%> <%= item.last_name %>, sündinud <%=item.birth_date%></li>
			<% }); %>
		</ul>
      
	</body>
</html>