<!DOCTYPE html>
<html lang="et">

	<head>
		<meta charset="utf-8">
		<title>Visitors</title>
	</head>

	<body>
		<img src="/banner/vp_banner_2024.png" alt="banner">

		<hr>
		<h1>
			Visitors
		</h1>
		<hr>

        <ul>
            <li><a href="/">Avaleht</a></li>
        </ul>
		<hr>
		
        <h2><%= h2 %></h2>
        <ul>
            <% listData.forEach(function(item){%>
			<li><%= item %></li>
			<% }); %>
        </ul>


	</body>
</html>